body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #7ed3c859;
}
.block-button{
    position: relative;
    left: 550px;
    top: 78px;
    margin-left: auto;
    margin-right: auto ;
}
#press{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

 #press:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(37, 238, 158, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
 #press:active {
    transform: translateY(-1px);
   }

#counter{
    display: flex;
    width: 14%;
    padding: 0 20px 0 20px;
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
}

.block-h{
    position: relative;
    right: 142px;
   
}

.block-s{
    position: relative;
    margin-left: 142px;
    
}

.hours{
    position: relative;
    left: 9px;
    font-size: 50px;
    color: #09c479;
}

.minutes{
    position: relative;
    left: 12px;
    font-size: 50px;
    color: #09c479;
}

.seconds{
    position: relative;
    left: 12px;
    font-size: 50px;
    color: #09c479;
}
p {
    position: relative;
    left: 10px;
    color: #09c479;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .block-button{
        left: 770px;
    }
    #press{
        font-size: 15px;
    }
    #counter{
        position: relative;
        left: 323px;
    }
}


@media screen and (max-width: 1024px){
    body{
        width: 46%;
    }
    .block-button{
        left: 383px;
    }
    #counter{
        position: relative;
        left: 226px;
    }
    .block-h {
        right: 195px;
    }
    .block-s {
        margin-left: 176px;
    }
}   

@media screen and (max-width:768px){
    .block-button {
        left: 271px;
    }
    #counter {
        position: relative;
        left: 168px;
    }

}

@media screen and (max-width: 480px) {
    body {
        width: 47%;
    }
    .block-button {
        left: 103px;
        top: 102px;
    }
    #counter {
        position: relative;
        left: 22px;
    }
    .block-h {
        right: 94px;
    }
    .block-s {
        position: relative;
        left: -27px;
        margin-left: 117px;
    }
}

@media screen and (max-width:320px) {
    body {
        width: 40%;
    }
    .block-button {
        left: 37px;
        width: 183%;
        top: 53px;
    }
    #counter {
        position: relative;
        left: 13px;
        top: -73px;
   }
   .block-h {
        right: 67px;
   }
   .block-s {
        position: relative;
        left: -56px;
        margin-left: 113px;
   }
}

