*{
    padding: 0;
    margin: 0;
}

.interface{
    width: 40%;
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,auto);
    background-color: #212121;
    padding: 20px;
    border-radius: 2px;
}

.label-date{
    grid-column-start: span 5;
}
.label-date input{
    width: -webkit-fill-available;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(255, 251, 251);
    font-size: 20px;
}
.date{
    text-align: right;
}
.btn-0{
   grid-column-start: span 2;
   text-align: center;
}

.btn-equal{
   grid-row-start:span 3;
   text-align: center;
   display: flex;
}
.btn-equal button{
    margin-left: auto;
    margin-right: auto;
}
.interface div{
    text-align: center;
    margin: 20px;
}
.interface div > button{
   width: -webkit-fill-available;
   outline: none;
   border: 1px solid rgb(8, 175, 197);
   border-radius: 5px;
   padding: 10px;
   color: white;
   background-color: #212121;
   color: rgb(9, 226, 255);
   cursor: pointer;
   font-size: unset;
}
.interface div > button:hover{
    color: white;
    background-color: rgb(4, 104, 117);
    border: none;
    transform: translate(-10%, -10%);
    transition: .5s ease;
}

@media screen and (max-width:1024px) {
      .interface{
          width: 60%;
          grid-gap: 12px;
          padding: 14px;
          border-radius: 10px;
      }
      .interface div{
          margin: 18px;
      }
      .interface div > button {
         border-radius: 9px;
         padding: 12px;
    }
    
}

@media screen and (max-width:768px) {
      .interface{
         width: 80%;
         grid-gap: 9px;
      }
      .interface div{
          margin: 4px;
          font-size: 21px;
      }
      .interface div > button {
        border-radius: 21px;
        padding: 12px;
    }
}

@media  screen and (max-width: 375px) {
    .interface {
        width: 74%;
        grid-gap: 7px;
        padding: 29px;
        margin-top: auto;
        background-color: white;
    }
    .label-date input{
         background-color: #212121;
         color: rgb(9, 226, 255);
         font-size: x-large;
         position: relative;
         left: -4px;
    }
        .interface div{
            margin: -7px;
            margin-top: 33px;
        }
        .interface div > button{
            border-radius: 0px;
            margin-right: 12px;
        }
}


